<%= form_with(model: disc, local: true) do |form| %>
  <% if disc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disc.errors.count, "error") %> prohibited this disc from being saved:</h2>

      <ul>
      <% disc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
