/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.space_square {
  border-style: solid;
  width: 50px;
  height: 50px;
}
.easy_move_button {
  width: 61px;
 }
 .hard_move_button {
  width: 61px;
}
 .display-inline {
  display: inline;
}
.display-none {
  display: none;
}
.white {
  background-color: white;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}